<app-header-container></app-header-container>


<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1 class="display-4 font-weight-bold ">Let your home shine.</h1>
      <p class="text-justify">We understand your home is important to you. That’s why we focus on the quality of the
        clean. Our cleaners
        aren’t contract workers - they are full-time employees. They care as much as we do.
        <br><br>
        On top of that, we know every home is different, so we allow you to give us special requests for those hard to
        reach places.</p>

      <button routerLink="/booking-flow" type="button" class="btn btn-primary">Book Now</button>
    </div>
  </div>
</div>